@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; 
  margin: 0; 
}

.container {
  display: flex;
  width: 90vw; 
}

.panel {
  background-size: cover; 
  background-repeat: no-repeat;  
  background-position: center;
  position: relative;
  flex: 0.5; 
  margin: 10px; 
  height: 70vh; 
  border-radius: 15px;
  cursor: pointer;
  transition: all 900ms ease-in-out; 
}

.panel.active {
  flex: 5; 
}

.panel h3 {
  position: absolute; 
  bottom: 20px; 
  left: 20px; 
  color: #fff; 
  opacity: 0;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.7s ease-in 0.4s; 
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw; 
    height: 70vh;
  }

  .panel {
    height: 100%; 
    width: auto; 
  }

  .panel.active {
    flex: 8; 
  }
}